{% extends 'base.html' %}

{% block title %} workers {% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit worker</title>
    </head>
    <body class="backGround color-orange">
        <h5>Edit worker</h5>
        <form method="post" action="{% url 'edit_worker' worker.worker_id %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="shelter_id">Shelter Id:</label>
                    <input type="number" class="form-control" id="shelter_id2" name="shelter_id2" value="{{ worker.shelter_id }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="address">Address:</label>
                    <input type="text" class="form-control" id="address2" name="address2" value="{{ worker.address }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="fName">First Name:</label>
                    <input type="text" class="form-control" id="fName2" name="fName2" value="{{ worker.fName }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="lName">Last Name:</label>
                    <input type="text" class="form-control" id="lName2" name="lName2" value="{{ worker.lName }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="email2" name="email2" value="{{ worker.email }}">
                </div>
            </div>
            </div>
            <button type="submit" class="btn btn-primary">Update worker</button>
            <a class="btn btn-primary" href="{% url 'worker_page' %}">Cancel</a>
        </form>
    </body>

</html>
<style>
    .nav-link::before {
        background-color: orange !important;
    }

    .nav-link {
        color: orange !important;
    }
</style>
{% endblock %}