
.homeBackground {
    background-image: url('orange.jpg');
    height:100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative;
}

.backGround{
    background-image: url('pet2.jpg');
    height:100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbar {
    background-color: transparent !important;
}


.nav-link {
    position: relative !important;
    color: white !important;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    border: none;
}

.nav-link::before {
    content: '' !important;
    position: absolute !important;
    width: 100% !important;
    height: 2px !important;
    bottom: 0 !important;
    left: 0 !important;
    background-color: #0ba5bd !important;
    visibility: hidden !important;
    transform: scaleX(0) !important;
    transition: all 0.3s ease-in-out !important;
}


.nav-link:hover::before {
    visibility: visible !important;
    transform: scaleX(0.7) !important;
}


.btn-primary{
    background-color: orange !important;
    color: #0ba5bd !important;
    border: none;
}

.color-orange{
    color: orange;
}

.thread-orange{
    background-color: orange;
    color: #0ba5bd ;
}

.t-orange{
    color: orange;
}

.table{
    margin-top: 10px;
    font-size: 17px
}

.container-fluid{
    width: 90%;
}

.bold{
    font-weight: bold;
}

.homeElement {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.homeElementBtn {
    position: absolute;
    top: 55%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.homeBtn{
    position: relative;
    background-color: #0ba5bd;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    width: 200px;
}


/* .homeBtn {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    background-color: orange;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
} */

.homeBtn:hover {
    background-color: darkorange;
}

.outlined{
    text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

  .table-hover tbody tr:hover {
    background-color: orange;
    color: #0ba5bd;
}