<!-- welcome.html -->

{% extends 'base.html' %}
{% block title %} Logout{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout Page</title>
</head>
<body class="homeBackground">
    <div class="homeElement">
        <h2 style="color:white;"> You have been logged out successfully </h2>
    </div>
    <div class="homeElementBtn">
        <a class="btn homeBtn" href="{% url 'login' %}">Login</a>
        <a class="btn homeBtn" href="{% url 'register' %}">Register</a>
    </div>
</body>
</html>

{% endblock %}