{% extends 'base.html' %}
{% load static%}
{% block title %} Home {% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets</title>
</head>
<body class="backGround color-orange">
    <div class="d-flex align-items-center">
        <h1 class="d-inline">Pets</h1>
        <button id="toggleOn" class="btn btn-primary ml-3">Add Pet</button>
        <button id="switchView" class="btn btn-primary ml-3">Switch View</button>
    </div>
    
    <form id="petForm" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name2" name="name2" required>
            </div>
            <div class="form-group col-md-3">
                <label for="breed">Breed:</label>
                <input type="text" class="form-control" id="breed2" name="breed2" required>
            </div>
            <div class="form-group col-md-3">
                <label for="species">Species:</label>
                <input type="text" class="form-control" id="species2" name="species2" required>
            </div>
            <div class="form-group col-md-3">
                <label for="age">Age:</label>
                <input type="text" class="form-control" id="age2" name="age2" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="worker_id">Worker ID:</label>
                <input type="text" class="form-control" id="worker_id2" name="worker_id2">
            </div>
            <div class="form-group col-md-3">
                <label for="location">Location ID:</label>
                <input type="text" class="form-control" id="location" name="location">
            </div>
            <div class="form-group col-md-3">
                <label for="adopted">Adopted:</label><br>
                <input type="checkbox" id="adopted" name="adopted" value="adopted">
                <label for="adopted">Adopted</label>
            </div>
        </div>
        <div class="d-inline">
            <button type="submit" class="btn btn-primary mr-2">Add Pet</button>
            <button id="toggleoff" class="btn btn-primary">Cancel</button>
        </div>
    </form>
    <form method="get" action="{% url 'sort_pet' %}">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ request.GET.name }}">
            </div>
            <div class="form-group col-md-3">
                <label for="breed">Breed:</label>
                <input type="text" class="form-control" id="breed" name="breed" value="{{ request.GET.breed }}">
            </div>
            <div class="form-group col-md-3">
                <label for="breed">Worker Id:</label>
                <input type="text" class="form-control" id="worker_id" name="worker_id" value="{{ request.GET.worker_id }}">
            </div>
            <div class="form-group col-md-3">
                <label for="species">Species:</label>
                <input type="text" class="form-control" id="species" name="species" value="{{ request.GET.species }}">
            </div>
            <div class="form-group col-md-3">
                <label for="age">Age:</label>
                <input type="number" class="form-control" id="age" name="age" value="{{ request.GET.age }}">
            </div>
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="adopted_needs_home" name="adopted_needs_home" {% if request.GET.adopted == "0" %} checked {% endif %}>
                <label class="form-check-label" for="adopted_needs_home">Needs a Home</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="adopted_adopted" name="adopted_adopted" {% if request.GET.adopted == "1" %} checked {% endif %}>
                <label class="form-check-label" for="adopted_adopted">Adopted</label>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <button type="submit" class="btn btn-primary mr-2">
                <i class="fas fa-search"></i>
            </button>
            <button id="clearFilter" type="submit" class="btn btn-primary mr-2">Clear</button>
        </div>
        
    </form>
    
    <div id="tableView" style="display: none;">
        <table class="table table-hover bold">
            <thead class="thread-orange">
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Breed</th>
                    <th>Worker Id</th>
                    <th>Species</th>
                    <th>Age</th>
                    <th>Adopted</th>
                    <th  colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody class="t-orange">
                {% for pet in pets %}
                <tr>
                    <td><img src="{% if pet.image_path %}{{ pet.image_path }}{% else %}{% static 'images/default.jpg' %}{% endif %}"
                        alt="Image" class="rounded-circle" style="width: 50px; height: 50px;"></td>
                    <td class="outlined">{{ pet.name }}</td>
                    <td class="outlined">{{ pet.breed }}</td>
                    <td class="outlined">{{ pet.worker_id }}</td>
                    <td class="outlined">{{ pet.species }}</td>
                    <td class="outlined">{{ pet.age }}</td>
                    <td class="outlined">
                        {% if pet.adoptered == 1 %}
                            Adopted by {{pet.adopt_id}}
                        {% else %}
                            Needs a Home at Shelter {{pet.shelter_id}}
                        {% endif %}
                    </td>
                    <td>
                        <form method="get" action="{% url 'edit_pet' pet.pet_id %}">
                          {% csrf_token %}
                          <input type="submit" class="btn btn-primary btn-sm" value="Edit">
                        </form>
                    </td>
                    <td>
                        <form method="post" action="{% url 'delete_pet' pet.pet_id %}">
                          {% csrf_token %}
                          <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="cardView">
        <div class="mt-3">
            <div class="row">
                {% for pet in pets %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <img src="{% if pet.image_path %}{{ pet.image_path }}{% else %}{% static 'images/default.jpg' %}{% endif %}"
                             class="card-img-top" alt="Pet Image" style="height: 300px; width = 400px;overflow: hidden; display: flex; justify-content: center; align-items: center;">
                        <div class="card-body">
                            <h5 class="card-title">{{ pet.name }}</h5>
                            <p class="card-text">Breed: {{ pet.breed }}</p>
                            <p class="card-text">Worker ID: {{ pet.worker_id }}</p>
                            <p class="card-text">Species: {{ pet.species }}</p>
                            <p class="card-text">Age: {{ pet.age }}</p>
                            <p class="card-text">
                                {% if pet.adoptered == 1 %}
                                    Adopted by {{pet.adopt_id}}
                                {% else %}
                                    Needs a Home at Shelter {{pet.shelter_id}}
                                {% endif %}
                            </p>
                        </div>
                        <div class="card-footer">
                            <form method="get" action="{% url 'edit_pet' pet.pet_id %}">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary btn-sm" value="Edit">
                            </form>
                            <form class="mt-3"method="post" action="{% url 'delete_pet' pet.pet_id %}">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</body>
</html>

<style>
    .nav-link::before {
        background-color: orange !important;
    }
    #petForm{
        display:none;
    }
    .nav-link {
        color: orange !important;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const form = document.getElementById("petForm");
        const toggleButton = document.getElementById("toggleOn");
        const cancelButton = document.getElementById("toggleoff");
        const clearFilterButton = document.getElementById("clearFilter");
        const switchViewButton = document.getElementById("switchView");
        const tableView = document.getElementById("tableView");
        const cardView = document.getElementById("cardView");

        toggleButton.addEventListener("click", function() {
            if (form.style.display === "none") {
                form.style.display = "block";
                toggleButton.style.display = "none";
            } else {
                form.style.display = "none";
            }
        });

        cancelButton.addEventListener("click", function() {
            form.style.display = "none";
            toggleButton.style.display = "block";
        });
        
        clearFilterButton.addEventListener("click", function() {
            document.getElementById("name").value = "";
            document.getElementById("breed").value = "";
            document.getElementById("species").value = "";
            document.getElementById("age").value = "";
            document.getElementById("worker_id").value = ""; // Clear worker ID input
            document.getElementById("adopted_needs_home").checked = false; // Uncheck adopted checkboxes
            document.getElementById("adopted_adopted").checked = false;
        });

        switchViewButton.addEventListener("click", function() {
            if (cardView.style.display === "block") {
                cardView.style.display = "none";
                tableView.style.display = "block";
            } else {
                cardView.style.display = "block";
                tableView.style.display = "none";
            }
        });
    });
</script>
{% endblock %}
